.my-work-page {
  top: 20%;
  transform: translateY(-50%);
}

.cards {
  position: absolute;
  top: 52%;
  left: 15%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card-link {
  margin: 2rem;
}

@media screen and (max-width: 48rem) {
  .cards {
    flex-direction: column;

    .card-link {
      margin: 3rem 0rem;
    }
  }
}